/* MAIN SETTINGS */
* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  color: rgba(255, 255, 255, 0.719);
  animation: color 7s infinite linear;
  width: 100%;
}

@keyframes color {
  0%   { background: #242731fc }
  20%  { background: #242731fc }
  40%  { background: #0b6d6efc; }
  60%  { background: #1a4350fc; }
  80%  { background:#242731fc; }
  100% { background: #242731fc; }
}


/* NAVBAR*/

#logo {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    box-shadow: 0.1rem 0.8rem 0.8rem 0rem #242731fc;
  }
  
  #navbarSupportedContent,
  #nav-list {
    background-color: transparent !important;
  }
  
  .nav-item {
    padding: 1rem;
  }
  
  #navbar li,
  #navbar li a {
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.779);
  }
  
  #navbar li a::before {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 1%;
    left: 0;
    content: "";
    transform: scaleX(0);
    transition: transform 0.3s ease;
    background-color: rgba(255, 255, 255, 0.779);
  }
  
  #navbar .underline a:hover::before {
    margin-top: 5%;
    transform: scaleX(1);
  }
  
  .navbar-brand,
  #navbar-toggler:active,
  #navbar-toggler:hover {
    color: turquoise
  }
  
  #github-icon,
  #linkedin-icon {
    font-size: 1.3rem;
  }
  
  #github-link:hover,
  #linkedin-link:hover {
    color: turquoise;
  }

  /* NAVBAR SETTNGS FOR SMALLER SCREENS */

@media (320px < width < 992px) {
   .underline a:hover::before {
    margin-top: 5%;
    transform: scaleX(0) !important;
  }

  #navbar li a:hover {
    color: turquoise;
  }

}

/* HOMEPAGE SECTION */

#home-main-div {
  display: flex;
  flex-direction: column;
  margin-top: 8%;
  margin-right: 10%; 
  margin-left: 10%; 
  height: 100vh;
}

#intro-heading3 {
  margin-top: 1%;
  margin-right: 35%;
  font-size: 1.5rem;
  line-height: 2.8rem;
}

#author-name {
  font-size: 5rem;
  color: rgba(255, 255, 255, 0.944);
}

  /* HOMEPAGE SETTNGS FOR SMALLER SCREENS */

  @media (279px < width < 992px){
    #author-name{
      font-size: 3rem;
    }

    #intro-heading3{
      margin-left: auto;
      margin-right: auto;
      font-size: 1.5rem;
    }

/* FOR CERTAIN TABLETS */
    @media(min-width: 540px){
      #author-name {
        font-size: 4rem;
        white-space: nowrap;
      }
    }
  }


  /* ABOUT PAGE SETTINGS */

  #about-main-div {
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:gray;
  }

  #author-photo {
    height:20rem;
    width:20rem;
    border-radius: 50%;
    box-shadow: 0.2rem 1rem 1.8rem 0.5rem black;
  }

  #about-heading {
    font-size: 3.5rem;
    margin-bottom:2%;
  }

  #about-intro {
    width: 35%;
    margin-left: 4em;
    font-size: 1.2rem;
    line-height: 2.9rem;
  }

/* ABOUT SECTION SETTINGS FOR SMALLER SCREENS */

@media (279px < width < 766px){
 #about-intro {
  margin-top: 8%;
  margin-left:auto;
  margin-right:auto;
  width: 75%;
  font-size: 1.5rem;
 }

 #about-main-div {
  flex-direction: column;
  height:25%;
 }

 #about-heading {
  text-wrap: nowrap;
  text-align: center;
 }

 #author-photo {
  height:15rem;
  width:15rem;
  margin-top:20%;
 }
}

/* FOR TABLETS + IPADS */

@media (767px < width < 1025px ){

 #author-photo {
  height: 20rem;
  width: 20rem;
  margin-left: 2%;
} 

#about-intro{
  width: 48%;
  margin-right: 2%;
}

}


/* PROJECTS SECTION */

#main-projects-div {
  height: 100vh;
  background-color: darkslateblue;
  display:grid;
  gap: 2px;
  grid-template-areas:
          "a a a a a "
          ". b c d ."
          ". e f g ."       
}

#projects-heading {
  text-align: center;
  padding: 2%;
  grid-area: a;
  font-size: 3rem;
  margin-top: 2%;
}


.project,
.project img {
  border-radius: 10%;
  height: 14rem;
  width: 15rem;
  justify-self: center;

}

.project img {
  box-shadow: 0.2rem 1rem 1.8rem 0.5rem black;
}

.img-zoom {
  transition: transform 0.3s;
}

.img-zoom:hover {
  transform: scale(1.2);
}

#project-1 {
  grid-area: b;

}

#project-2 {
  grid-area: c;

}

#project-3{
  grid-area: d;

}

#project-4 {
  grid-area: e;
  justify-self:flex-end;

}

#project-5 {
grid-area: f;

}

#project-6 {
  grid-area: g;
  justify-self: flex-start;
  }


@media (278px < width < 766px){

  #main-projects-div{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    height: 100%;
  }

  #projects-heading {
    font-size: 2.5rem;
    padding: 10%;
  }

  .project img{
   margin-left: 4%;
   height:85%;
   width: 95%;
  } 
} 

/* FOR TABLETS + IPADS */

@media (767px < width < 1025px ){
  #main-projects-div {
  height: 100vh;
  }


  .project img{
    margin-left: 11%;
    height:90%;
    width: 80%;

   } 

   #projects-heading {
    font-size: 3rem;
    margin-top: 5%;
  }
}