
/* MAIN SETTINGS */

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  color: rgba(255, 255, 255, 0.719);
  animation: color 5s infinite linear;
  overflow-x: hidden;
}

@keyframes color {
  0%   { background: #242731fc }
  20%  { background: #242731fc }
  40%  { background: #0b6d6efc; }
  60%  { background: #1a4350fc; }
  80%  { background:#242731fc; }
  100% { background: #242731fc; }
}

.scroll-container {
  scroll-behavior: smooth;
}

.scroll-page {
  display: flex;
  height: 100%;
}


/* NAVBAR */

#logo {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    box-shadow: 0.1rem 0.8rem 0.8rem 0rem #242731fc;
  }
  
  #navbarSupportedContent,
  #nav-list {
    background-color: transparent !important;
  }
  
  .nav-item {
    padding: 1rem;
  }
  
  #navbar li,
  #navbar li a {
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.779);
  }
  
  #navbar li a::before {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 1%;
    left: 0;
    content: "";
    transform: scaleX(0);
    transition: transform 0.3s ease;
    background-color: rgba(255, 255, 255, 0.779);
  }
  
  #navbar .underline a:hover::before {
    margin-top: 5%;
    transform: scaleX(1);
  }
  
  .navbar-brand,
  #navbar-toggler:active,
  #navbar-toggler:hover {
    color: turquoise
  }

  #github-link:hover,
  #linkedin-link:hover {
    color: turquoise;
  }

  /* NAVBAR SETTNGS FOR SMALLER SCREENS */

@media (320px < width < 992px) {
   .underline a:hover::before {
    margin-top: 5%;
    transform: scaleX(0) !important;
  }

  #navbar li a:hover {
    color: turquoise;
  }

}

/* HOMEPAGE SECTION */

.home-main-div {
  display: flex;
  flex-direction: column;
  height: 85vh;
  margin-top: 8%;
  margin-right: 10%; 
  margin-left: 10%; 
}

#intro-heading3 {
  margin-top: 1%;
  margin-right: 35%;
  font-size: 1.5rem;
  line-height: 2.8rem;
}

#author-name {
  font-size: 5rem;
  color: rgba(255, 255, 255, 0.944);
}

  /* HOMEPAGE SETTNGS FOR SMALLER SCREENS */

  @media (279px < width < 992px) {
    #author-name {
      font-size: 3rem;
    }

    #intro-heading3 {
      margin-left: auto;
      margin-right: auto;
      font-size: 1.5rem;
    }

/* SETTINGS FOR CERTAIN TABLETS */

    @media(min-width: 540px) {
      .home-main-div {
        height: 80vh;
        margin-top: 18%;
      }

      #author-name {
        font-size: 4rem;
        white-space: nowrap;
      }
    }
  }


  /* ABOUT SECTION SETTINGS */

  .about-main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: gray;
  }

  #author-photo {
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    box-shadow: 0.2rem 1rem 1.8rem 0.5rem black;
  }

  #about-heading {
    margin-bottom: 2%;
    font-size: 3rem;
  }

  #about-intro {
    width: 35%;
    margin-left: 4em;
    font-size: 1.2rem;
    line-height: 2.9rem;
  }

/* ABOUT SECTION SETTINGS FOR SMALLER SCREENS */

@media (279px < width < 766px) {

  #about-intro {
    width: 75%;
    margin-top: 8%;
    margin-right: auto;
    margin-left: auto;
    font-size: 18px;
   }
  
   .about-main-div {
    flex-direction: column;
    height: 100%;
   }
  
   #about-heading {
    text-wrap: nowrap;
    text-align: center;
    font-size: 2.4rem;
   }
  
   #author-photo {
    height: 15rem;
    width: 15rem;
    margin-top: 10%;
   }

}

/* SETTINGS FOR TABLETS + IPADS */

@media (767px < width < 1200px ) {

#author-photo {
  height: 17rem;
  width: 17rem;
  margin-left: 2%;
} 

#about-intro {
  width: 55%;
  margin-right: 2%;
  font-size: 18px;
}
}

/* PROJECTS SECTION */

.main-projects-div {
  display: grid;
  grid-template-areas:
  "a a a a a "
  ". b c d ."
  ". e f g .";    
  gap: 2px;
  height: 100vh;
  background-color: darkslateblue;
}

#projects-heading {
  grid-area: a;
  margin-top: 2%;
  padding: 2%;
  font-size: 2.4rem;
  text-align: center;
}


.project,
.project img {
  justify-self: center;
  height: 14rem;
  width: 15rem;
  border-radius: 10%;
}

.project img {
  box-shadow: 0.2rem 1rem 1.8rem 0.5rem black;
}

.img-zoom {
  transition: transform 0.3s;
}

.img-zoom:hover {
  transform: scale(1.2);
}

#project-1 {
  grid-area: b;

}

#project-2 {
  grid-area: c;

}

#project-3 {
  grid-area: d;

}

#project-4 {
  grid-area: e;
  justify-self:flex-end;

}

#project-5 {
  grid-area: f;

}

#project-6 {
  grid-area: g;
  justify-self: flex-start;
  }

.project.bottom {
  margin-bottom: 8%;
  }

/* PROJECTS SECTION SETTINGS FOR SMALLER SCREENS */


@media (278px < width < 766px) {

  .main-projects-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 1%;
  }

  #projects-heading {
    padding: 10%;
    font-size: 2rem;
  }

  .project img{
    height: 85%;
    width: 95%;
    margin-left: 4%;
  } 

  .project {
    padding: 1rem;
  }
} 

/* SETTINGS FOR TABLETS + IPADS */

@media (767px < width < 1025px ) {
  .main-projects-div {
    height: 100vh;
  }

   #projects-heading {
    margin-top: 9%;
    font-size: 2.5rem;
  }

  .project img {
    height: 85%;
    width: 95%;
    margin-left: 3%;
   } 
}


/* CONTACT SECTION SETTINGS */

.main-contact-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 95vh;
  margin-top: 3%;
}

#contact-heading {
  margin-bottom: 4rem;
  font-size: 2.5rem;
}

#contact-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  width: 325px;
  margin-bottom: 4rem;
  border-radius: 5%;
  box-shadow: 0.2rem 1rem 1.8rem 0.5rem black;
  background-color: black;
}


#contact-card-img-div {
  display: flex;
  justify-content: center;
}

#contact-card-img {
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
}

#contact-link {
  text-decoration: none;
  color: white;
}

#contact-page-button {
  align-self: center;
  height: 2.5rem;
  width: 7rem;
  margin-top: 20%;
  border: solid turquoise;
  border-radius: 0.5em;
  padding: 0.3rem;
  background-color: black;
}

#contact-page-button:hover {
  box-shadow: 0.1rem 0.9rem 1.1rem 0.5rem #242731fc;
  background-color: turquoise;
  color: white;
  font-weight: bold;
}

/* CONTACT SECTION SETTINGS FOR SMALLER SCREENS */

@media (279px < width < 766px) {
  
  .main-contact-div {
    flex-direction: column;
    justify-content: flex-start;
  }

  #contact-heading {
    margin-top: 10%;
    font-size: 2rem;
  }
}

/* FOOTER SETTINGS */

.text-light {
  color: rgba(255, 255, 255, 0.719) !important;
}

#footer li a:hover {
  color: turquoise !important;
}